body {
    background-color: white;
    color: white;
}

div.int_div {
    margin: 30px auto;
    background-color: #006600;
    color: white;
    /*border: 5px solid #006600;*/
    padding: 20px 30px;
}

.page_title {
    color: #123C69;
}

h1, h2 {
    text-align: center;
}

a {
    color: white;
    /*font-weight: bold;*/
    font-size: large;
}

a:hover {
    background-color: lightgreen;
}

table{
    width: 80%;
    margin: auto;
    color: black;
    border: 1px solid #dddddd;
    text-align: center;
}
td, th{
    border: 1px solid #dddddd;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: white;
}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: black;
}