body{
    background-color: #EEE2DC;
    color: white;
}

div.ext_div{
    border: 0;
    padding: 0;
    margin: 0;
}
div.int_div{
    width: 60%;
    margin: 15px auto;
    background-color: #123C69;
    border: 0;
    padding: 3px 20px;
}

.page_title{
    color: #123C69;
}

h1, h2 {
    text-align: center;
}